{{ $specialStyles := resources.Get "css/wowchemy_filtered.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $specialStyles.RelPermalink }}" integrity="{{ $specialStyles.Data.Integrity }}">

<div class="page-body">
    <section id="profile-page" class="pt-5">
        <div class="container">
            <div class="row">
                <!-- Profile Image and Basic Information -->
                <div class="col-12 col-lg-4">
                    <div id="profile">
                        <!--检测是否存在image，如果存在则展示，否则查找feature图片，如果有则展示-->
                        {{- with $.Params.images -}}
                        {{- range first 6 . }}
                        <meta property="og:image" content="{{ . | absURL }}" />{{ end -}}
                        {{- else -}}
                        {{- $images := $.Resources.ByType "image" -}}
                        {{- $featured := $images.GetMatch "*feature*" -}}
                        {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
                        {{ if and .Params.featureimage (not $featured) }}
                        {{- $url := .Params.featureimage -}}
                        {{ $featured = resources.GetRemote $url }}
                        {{ end }}
                        {{- if not $featured }}{{ with .Site.Params.defaultFeaturedImage }}{{ $featured = resources.Get . }}{{ end }}{{ end -}}
                        {{ if .Params.hideFeatureImage }}{{ $featured = false }}{{ end }}
                        <img class="avatar avatar-circle shadow-xl" width="270" height="270" src="{{ $featured }}" alt="{{ .Params.name }}">
                        <!-- <div class="w-full avatar thumbnail_circle nozoom" style="background-image:url({{ $featured }});"></div> -->
                        {{- end -}}
                        <div class="portrait-title">
                            <h2>{{ .Params.name }}</h2>
                            <h3>{{ .Params.memberType }}</h3>
                            {{/*  <h3>{{ .Params.title }}</h3>
                            <h3><span>{{ .Params.organization }}</span></h3>  */}}
                        </div>
                        <!-- Social Icons -->
                        <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500 justify-center">
                            {{ with .Params.links }}
                                {{ range $links := . }}
                                {{ range $name, $url := $links }}
                                    <a
                                    class="px-1 hover:text-primary-700 dark:hover:text-primary-400"
                                    {{ $prefix := "" }}
                                    {{ if eq $name "envelope" }}
                                        {{ $prefix = "mailto:" }}
                                    {{ end }}
                                    href="{{$prefix}}{{ $url | safeURL }}"
                                    target="_blank"
                                    aria-label="{{ $name | title }}"
                                    rel="me noopener noreferrer"
                                    >
                                    {{ $icon := resources.Get (print "icons/" $name ".svg") }}
                                    {{ if $icon }}
                                        <span class="relative block icon">
                                        {{ $icon.Content | safeHTML }}
                                        </span>
                                    {{ end }}
                                    </a
                                    >
                                {{ end }}
                                {{ end }}
                            {{ end }}
                            </div>
                    </div>
                </div>
                <!-- Bio and Other Information -->
                <div class="col-12 col-lg-8">
                    <div class="article-style">
                        {{ .Params.bio }}
                    </div>
                    <div class="row">
                        <!-- Interests Section -->
                        <div class="col-md-5">
                            <div class="section-subheading">Interests</div>
                            <ul class="ul-interests mb-0">
                                {{ range .Params.interests }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        <!-- Education Section -->
                        <div class="col-md-7">
                            <div class="section-subheading">Education</div>
                            <ul class="ul-edu fa-ul mb-0">
                                {{ range .Params.education }}
                                <li>
                                    <i class="fa-li fas fa-graduation-cap"></i>
                                    <div class="description">
                                        <p class="course">{{ .degree }}</p>
                                        <p class="institution">{{ .institution }}</p>
                                    </div>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Publications Section -->
    <div class="article-widget content-widget-hr">
        <div class="section-subheading">Latest</div>
        <ul>
            {{ range .Params.publications }}
            <li><a href="{{ .url }}">{{ .title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
